/* General styles*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Header styles*/
header {
    background: #4caf50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main-nav a:hover {
    text-decoration: underline;
}

/* Section Styles */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    background: white;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

sectionn h2 {
    color: #4caf50;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1rem;
}

button {
    padding: 0.75rem;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #45a049;
}

/* List styles */
ul {
    list-style-type: disc;
    margin-left: 2rem;
}

/* Responsive Styles for Small screens */
@media (max-width: 768px) {
    .main-nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    section {
        padding: 1rem;
    }

    button {
        font-size: 0.9rem;
    }

}

/* Responsive styles for Medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 1rem;
    }

    .main-nav ul{
        gap: 1.5rem;
    }

    section {
        margin: 1.5rem auto;
        max-width: 800px;
    }
}

/* Responsive Styles for Larger screens */

@media (min-width: 1024px) {
    body {
        font-size: 1.2 rem;
    }

    .main-nav ul {
        gap: 2rem;
    }

    section {
        margin: 2rem auto;
        max-width: 1200px;
    }

    button {
        font-size: 1rem;
    }
}